body {
  background-color: rgb(31, 50, 71);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  border-bottom: 50px solid green;
  border-left: 50px solid green;
  border-right: 50px solid green;
  margin: 0px;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-style: italic;
}

p {
  width: 50%;
  padding-top: 60px;
  margin: auto;
}

form {
  font-size: 90%;
  margin-bottom: 10px;
}

#sign-up {
  background-color: goldenrod;
  height: 70px;
  width: 110px;
  border-radius: 20%;
  margin: 12px;
  font-size: 1.2em;
}
