html {
  font-size: 14px;
}

body {
  background-color: rgb(31, 50, 71);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  border-bottom: 50px solid green;
  border-left: 50px solid green;
  border-right: 50px solid green;
  margin: auto;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  width: 50%;
  padding-top: 60px;
  margin: auto;
}

form {
  text-align: center;
}
